<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="MenuConfigurator" class="it.eng.utility.ui.config.MenuConfigurator">
		<property name="vociMenu">
			<util:list value-type="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
<!-- 				<ref bean="protocollazione" /> -->
<!-- 				<ref bean="scrivania" /> -->
<!-- 				<ref bean="altre_registrazioni_numerazioni" /> -->
<!-- 				<ref bean="gestione_atti" /> -->
<!-- 				<ref bean="gestione_visure" /> -->
<!-- 				<ref bean="gestione_procedimenti" /> -->
<!-- 				<ref bean="posta_elettronica" /> -->
<!-- 				<ref bean="archivio" /> -->
<!-- 				<ref bean="stampa_registro" /> -->
<!-- 				<ref bean="atti_autorizzazione_ann_reg" /> -->
				<ref bean="anagrafiche" />
<!-- 				<ref bean="configurazione_contesto_procedurale" /> -->
<!-- 				<ref bean="report" /> -->
<!-- 				<ref bean="conservazione" /> -->
<!-- 				<ref bean="deleghe" /> -->
<!-- 				<ref bean="cambiopwd" /> -->
<!-- 				<ref bean="info" /> -->
				<!--<ref bean="registro_documenti" /> -->
				<!--<ref bean="contratti" /> -->
				<!--<ref bean="invio_documentazione_via_pec" /> -->
				<!--<ref bean="istanze_portale_riscossione_da_istruire" /> -->
				<!--<ref bean="carica_pratica_pregressa" /> -->
				<!--<ref bean="monitoraggio_operazioni_batch" /> -->
				<!--ref bean="istanze" / -->
				<!--ref bean="richiesteAutotutelaCed" / -->
				<!--ref bean="diagrammi" / -->
				<!--ref bean="documenti_da_rifirmare" / -->
				<!--ref bean="test_firma" / -->
				<!--ref bean="wizard" / -->
				<!--ref bean="elenchi_albi" / -->
				<!--ref bean="attributi_dinamici" / -->
				<!--ref bean="richiestaAtti" / -->
				<!--ref bean="editor" / -->
			</util:list>
		</property>
	</bean>

	<!-- <bean id="registri_numerazione" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> 
		<property name="nomeEntita" value="registri_numerazione" />
		<property name="title" value="${registri_numerazione.title}" />
		<property name="prompt" value="${registri_numerazione.prompt}" />
		<property name="icon" value="${registri_numerazione.icon}" />
	</bean> -->

	<bean id="carica_pratica_pregressa" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="carica_pratica_pregressa" />
		<property name="title" value="Caricamento pratica" />
		<property name="prompt" value="Caricamento pratica" />
		<property name="icon" value="menu/carica_pratica_pregressa.png" />
		<property name="privilegi">
			<util:list value-type="java.lang.String">
				<value>GRD/FLD/IPP</value>
			</util:list>
		</property>
	</bean>

	<bean id="configurazione_contesto_procedurale" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="configurazione_contesto_procedurale" />
		<property name="title" value="${configurazione_contesto_procedurale.title}" />
		<property name="prompt"	value="${configurazione_contesto_procedurale.prompt}" />
		<property name="icon" value="${configurazione_contesto_procedurale.icon}" />
		<property name="submenu">
			<util:list value-type="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
				<bean id="definizione_attivita_procedimenti" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="definizione_attivita_procedimenti" />
					<property name="title" value="${definizione_attivita_procedimenti.title}" />
					<property name="prompt" value="${definizione_attivita_procedimenti.prompt}" />
					<property name="icon" value="${definizione_attivita_procedimenti.icon}" />
				</bean>
				<bean id="anagrafe_procedimenti" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="anagrafe_procedimenti" />
					<property name="title" value="${anagrafe_procedimenti.title}" />
					<property name="prompt" value="${anagrafe_procedimenti.prompt}" />
					<property name="icon" value="${anagrafe_procedimenti.icon}" />
				</bean>
				<bean id="configurazione_flussi_modellati" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="configurazione_flussi_modellati" />
					<property name="title" value="${configurazione_flussi_modellati.title}" />
					<property name="prompt" value="${configurazione_flussi_modellati.prompt}" />
					<property name="icon" value="${configurazione_flussi_modellati.icon}" />
				</bean>
				<bean id="modellatore_processi" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="modellatore_processi" />
					<property name="title" value="${modellatore_processi.title}" />
					<property name="prompt" value="${modellatore_processi.prompt}" />
					<property name="icon" value="${modellatore_processi.icon}" />
				</bean>
			</util:list>
		</property>
	</bean>

	<bean id="protocollazione" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="protocollazione" />
		<property name="title" value="${protocollazione.title}" />
		<property name="prompt" value="${protocollazione.prompt}" />
		<property name="icon" value="${protocollazione.icon}" />
		<property name="submenu">
			<util:list value-type="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
				<bean id="protocollazione_entrata" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="protocollazione_entrata" />
					<property name="title" value="${protocollazione_entrata.title}" />
					<property name="prompt" value="${protocollazione_entrata.prompt}" />
					<property name="icon" value="${protocollazione_entrata.icon}" />
					<property name="privilegi">
						<util:list value-type="java.lang.String">
							<value>PRT/E</value>
						</util:list>
					</property>
				</bean>
				<bean id="protocollazione_uscita" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="protocollazione_uscita" />
					<property name="title" value="${protocollazione_uscita.title}" />
					<property name="prompt" value="${protocollazione_uscita.prompt}" />
					<property name="icon" value="${protocollazione_uscita.icon}" />
					<property name="privilegi">
						<util:list value-type="java.lang.String">
							<value>PRT/U</value>
						</util:list>
					</property>
				</bean>
				<bean id="protocollazione_interna" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="protocollazione_interna" />
					<property name="title" value="${protocollazione_interna.title}" />
					<property name="prompt" value="${protocollazione_interna.prompt}" />
					<property name="icon" value="${protocollazione_interna.icon}" />
					<property name="privilegi">
						<util:list value-type="java.lang.String">
							<value>PRT/I</value>
						</util:list>
					</property>
				</bean>
			</util:list>
		</property>
	</bean>

	<bean id="altre_registrazioni_numerazioni" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="altre_registrazioni_numerazioni" />
		<property name="title" value="${altre_registrazioni_numerazioni.title}" />
		<property name="prompt" value="${altre_registrazioni_numerazioni.prompt}" />
		<property name="icon" value="${altre_registrazioni_numerazioni.icon}" />
		<property name="submenu">
			<util:list value-type="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
				<bean id="repertorio_entrata" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="repertorio_entrata" />
					<property name="title" value="${repertorio_entrata.title}" />
					<property name="prompt" value="${repertorio_entrata.prompt}" />
					<property name="icon" value="${repertorio_entrata.icon}" />
					<property name="privilegi">
						<util:list value-type="java.lang.String">
							<value>RPR</value>
						</util:list>
					</property>
				</bean>
				<bean id="repertorio_interno" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="repertorio_interno" />
					<property name="title" value="${repertorio_interno.title}" />
					<property name="prompt" value="${repertorio_interno.prompt}" />
					<property name="icon" value="${repertorio_interno.icon}" />
					<property name="privilegi">
						<util:list value-type="java.lang.String">
							<value>RPR</value>
						</util:list>
					</property>
				</bean>
				<bean id="repertorio_uscita" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="repertorio_uscita" />
					<property name="title" value="${repertorio_uscita.title}" />
					<property name="prompt" value="${repertorio_uscita.prompt}" />
					<property name="icon" value="${repertorio_uscita.icon}" />
					<property name="privilegi">
						<util:list value-type="java.lang.String">
							<value>RPR</value>
						</util:list>
					</property>
				</bean>
				<bean id="registro_fatture" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="registro_fatture" />
					<property name="title" value="${registro_fatture.title}" />
					<property name="prompt" value="${registro_fatture.prompt}" />
					<property name="icon" value="${registro_fatture.icon}" />
					<property name="privilegi">
						<util:list value-type="java.lang.String">
							<value>RGF</value>
						</util:list>
					</property>
				</bean>
				<bean id="numerazione_provvisoria" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="numerazione_provvisoria" />
					<property name="title" value="${numerazione_provvisoria.title}" />
					<property name="prompt" value="${numerazione_provvisoria.prompt}" />
					<property name="icon" value="${numerazione_provvisoria.icon}" />
					<property name="privilegi">
						<util:list value-type="java.lang.String">
							<value>GRD/UD/IUD</value>
						</util:list>
					</property>
				</bean>
				<!-- <bean id="carica_protocollo_pregresso" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> 
					<property name="nomeEntita" value="carica_protocollo_pregresso" />
					<property name="title" value="Carica protocollo pregresso" />
					<property name="prompt" value="Carica protocollo pregresso" />
					<property name="icon" value="menu/carica_protocollo_pregresso.png" />
					<property name="privilegi">
						<util:list value-type="java.lang.String">
							<value>GRD/UD/IPP</value>
						</util:list>
					</property>
				</bean> -->
			</util:list>
		</property>
	</bean>

	<bean id="scrivania" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="scrivania" />
		<property name="title" value="${scrivania.title}" />
		<property name="prompt" value="${scrivania.prompt}" />
		<property name="icon" value="${scrivania.icon}" />
	</bean>

	<bean id="atti_autorizzazione_ann_reg" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="atti_autorizzazione_ann_reg" />
		<property name="title" value="${atti_autorizzazione_ann_reg.title}" />
		<property name="prompt" value="${atti_autorizzazione_ann_reg.prompt}" />
		<property name="icon" value="${atti_autorizzazione_ann_reg.icon}" />
		<property name="privilegi">
			<util:list value-type="java.lang.String">
				<value>AAR</value>
			</util:list>
		</property>
	</bean>

	<bean id="stampa_registro" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="stampa_registro" />
		<property name="title" value="${stampa_registro.title}" />
		<property name="prompt" value="${stampa_registro.prompt}" />
		<property name="icon" value="${stampa_registro.icon}" />
		<property name="privilegi">
			<util:list value-type="java.lang.String">
				<value>SR/PRT/PG</value>
				<value>SR/PRT/PI</value>
				<value>SR/PRT/PP</value>
			</util:list>
		</property>
		<property name="submenu">
			<util:list value-type="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
				<bean id="stampa_reg_prot" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="stampa_reg_prot" />
					<property name="title" value="${stampa_reg_prot.title}" />
					<property name="prompt" value="${stampa_reg_prot.prompt}" />
					<property name="icon" value="${stampa_reg_prot.icon}" />
				</bean>
				<bean id="stampa_reg_repertorio" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="stampa_reg_repertorio" />
					<property name="title" value="${stampa_reg_repertorio.title}" />
					<property name="prompt" value="${stampa_reg_repertorio.prompt}" />
					<property name="icon" value="${stampa_reg_repertorio.icon}" />
				</bean>
				<bean id="stampa_reg_proposte_atti" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="stampa_reg_proposte_atti" />
					<property name="title" value="${stampa_reg_proposte_atti.title}" />
					<property name="prompt" value="${stampa_reg_proposte_atti.prompt}" />
					<property name="icon" value="${stampa_reg_proposte_atti.icon}" />
				</bean>
			</util:list>
		</property>
	</bean>

	<bean id="archivio" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="archivio" />
		<property name="title" value="${archivio.title}" />
		<property name="prompt" value="${archivio.prompt}" />
		<property name="icon" value="${archivio.icon}" />
	</bean>

	<bean id="posta_elettronica" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="posta_elettronica" />
		<property name="title" value="${posta_elettronica.title}" />
		<property name="prompt" value="${posta_elettronica.prompt}" />
		<property name="icon" value="${posta_elettronica.icon}" />
	</bean>

	<bean id="anagrafiche" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="anagrafiche" />
		<property name="title" value="${anagrafiche.title}" />
		<property name="prompt" value="${anagrafiche.prompt}" />
		<property name="icon" value="${anagrafiche.icon}" />
		<property name="submenu">
			<util:list value-type="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
				<bean id="titolario" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="titolario" />
					<property name="title" value="${titolario.title}" />
					<property name="prompt" value="${titolario.prompt}" />
					<property name="icon" value="${titolario.icon}" />
				</bean>
				<bean id="organigramma" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="organigramma" />
					<property name="title" value="${organigramma.title}" />
					<property name="prompt" value="${organigramma.prompt}" />
					<property name="icon" value="${organigramma.icon}" />
					<!--property name="privilegi"> <util:list value-type="java.lang.String"> 
						<value>SIC/SO</value> </util:list> </property -->
				</bean>
<!-- 				<bean id="vocabolario" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> -->
<!-- 					<property name="nomeEntita" value="vocabolario" /> -->
<!-- 					<property name="title" value="${vocabolario.title}" /> -->
<!-- 					<property name="prompt" value="${vocabolario.prompt}" /> -->
<!-- 					<property name="icon" value="${vocabolario.icon}" /> -->
<!-- 				</bean> -->
<!-- 				<bean id="caselle_email" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> -->
<!-- 					<property name="nomeEntita" value="caselle_email" /> -->
<!-- 					<property name="title" value="${caselle_email.title}" /> -->
<!-- 					<property name="prompt" value="${caselle_email.prompt}" /> -->
<!-- 					<property name="icon" value="${caselle_email.icon}" /> -->
<!-- 				</bean> -->
<!-- 				<bean id="anagrafiche_soggetti" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> -->
<!-- 					<property name="nomeEntita" value="anagrafiche_soggetti" /> -->
<!-- 					<property name="title" value="${anagrafiche_soggetti.title}" /> -->
<!-- 					<property name="prompt" value="${anagrafiche_soggetti.prompt}" /> -->
<!-- 					<property name="icon" value="${anagrafiche_soggetti.icon}" /> -->
<!-- 				</bean> -->
<!-- 				<bean id="gruppi_soggetti" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> -->
<!-- 					<property name="nomeEntita" value="gruppi_soggetti" /> -->
<!-- 					<property name="title" value="${gruppi_soggetti.title}" /> -->
<!-- 					<property name="prompt" value="${gruppi_soggetti.prompt}" /> -->
<!-- 					<property name="icon" value="${gruppi_soggetti.icon}" /> -->
<!-- 				</bean> -->
<!-- 				<bean id="oggettario" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> -->
<!-- 					<property name="nomeEntita" value="oggettario" /> -->
<!-- 					<property name="title" value="${oggettario.title}" /> -->
<!-- 					<property name="prompt" value="${oggettario.prompt}" /> -->
<!-- 					<property name="icon" value="${oggettario.icon}" /> -->
<!-- 					<property name="isPopup" value="true" /> -->
<!-- 				</bean> -->
<!-- 				<bean id="attributi_custom" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> -->
<!-- 					<property name="nomeEntita" value="attributi_custom" /> -->
<!-- 					<property name="title" value="${attributi_custom.title}" /> -->
<!-- 					<property name="prompt" value="${attributi_custom.prompt}" /> -->
<!-- 					<property name="icon" value="${attributi_custom.icon}" /> -->
<!-- 				</bean> -->
				<bean id="gestioneutenti" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="gestioneutenti" />
					<property name="title" value="${gestioneutenti.title}" />
					<property name="prompt" value="${gestioneutenti.prompt}" />
					<property name="icon" value="${gestioneutenti.icon}" />
				</bean>
<!-- 				<bean id="tipologiedocumentali" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> -->
<!-- 					<property name="nomeEntita" value="tipologiedocumentali" /> -->
<!-- 					<property name="title" value="${tipologiedocumentali.title}" /> -->
<!-- 					<property name="prompt" value="${tipologiedocumentali.prompt}" /> -->
<!-- 					<property name="icon" value="${tipologiedocumentali.icon}" /> -->
<!-- 				</bean> -->
<!-- 				<bean id="tipofascicoliaggr" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> -->
<!-- 					<property name="nomeEntita" value="tipofascicoliaggr" /> -->
<!-- 					<property name="title" value="${tipofascicoliaggr.title}" /> -->
<!-- 					<property name="prompt" value="${tipofascicoliaggr.prompt}" /> -->
<!-- 					<property name="icon" value="${tipofascicoliaggr.icon}" /> -->
<!-- 				</bean> -->
				<!-- <bean id="lista_funzionalita" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> 
					<property name="nomeEntita" value="lista_funzionalita" /> <property name="title" 
					value="${lista_funzionalita.title}" /> <property name="prompt" value="${lista_funzionalita.prompt}" 
					/> <property name="icon" value="${lista_funzionalita.icon}" /> </bean> -->
<!-- 				<bean id="anagrafiche_topografico" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> -->
<!-- 					<property name="nomeEntita" value="anagrafiche_topografico" /> -->
<!-- 					<property name="title" value="${anagrafiche_topografico.title}" /> -->
<!-- 					<property name="prompt" value="${anagrafiche_topografico.prompt}" /> -->
<!-- 					<property name="icon" value="${anagrafiche_topografico.icon}" /> -->
<!-- 				</bean> -->
<!-- 				<bean id="anagrafiche_rubricaemail" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> -->
<!-- 					<property name="nomeEntita" value="anagrafiche_rubricaemail" /> -->
<!-- 					<property name="title" value="${anagrafiche_rubricaemail.title}" /> -->
<!-- 					<property name="prompt" value="${anagrafiche_rubricaemail.prompt}" /> -->
<!-- 					<property name="icon" value="${anagrafiche_rubricaemail.icon}" /> -->
<!-- 				</bean> -->
<!-- 				<bean id="applicazioni_esterne" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> -->
<!-- 					<property name="nomeEntita" value="applicazioni_esterne" /> -->
<!-- 					<property name="title" value="${applicazioni_esterne.title}" /> -->
<!-- 					<property name="prompt" value="${applicazioni_esterne.prompt}" /> -->
<!-- 					<property name="icon" value="${applicazioni_esterne.icon}" /> -->
<!-- 				</bean> -->
<!-- 				<bean id="caricamento_rubrica" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> -->
<!-- 					<property name="nomeEntita" value="caricamento_rubrica" /> -->
<!-- 					<property name="title" value="${caricamento_rubrica.title}" /> -->
<!-- 					<property name="prompt" value="${caricamento_rubrica.prompt}" /> -->
<!-- 					<property name="icon" value="${caricamento_rubrica.icon}" /> -->
<!-- 				</bean> -->
<!-- 				<bean id="monitoraggio_operazioni_batch" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> -->
<!-- 					<property name="nomeEntita" value="monitoraggio_operazioni_batch" /> -->
<!-- 					<property name="title" value="${monitoraggio_operazioni_batch.title}" /> -->
<!-- 					<property name="prompt" value="${monitoraggio_operazioni_batch.prompt}" /> -->
<!-- 					<property name="icon" value="${monitoraggio_operazioni_batch.icon}" /> -->
<!-- 					<property name="privilegi"> -->
<!-- 						<util:list value-type="java.lang.String"> -->
<!-- 							<value>ROM/V</value> -->
<!-- 						</util:list> -->
<!-- 					</property> -->
<!-- 				</bean> -->
			</util:list>
		</property>
	</bean>

	<bean id="deleghe" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="deleghe" />
		<property name="title" value="${deleghe.title}" />
		<property name="prompt" value="${deleghe.prompt}" />
		<property name="icon" value="${deleghe.icon}" />
		<property name="submenu">
			<util:list value-type="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
				<bean id="deleghe_attivadisattiva" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="deleghe_attivadisattiva" />
					<property name="title" value="${deleghe_attivadisattiva.title}" />
					<property name="prompt" value="${deleghe_attivadisattiva.prompt}" />
					<property name="icon" value="${deleghe_attivadisattiva.icon}" />
				</bean>
				<bean id="deleghe_definizione" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="deleghe_definizione" />
					<property name="title" value="${deleghe_definizione.title}" />
					<property name="prompt" value="${deleghe_definizione.prompt}" />
					<property name="icon" value="${deleghe_definizione.icon}" />
					<property name="privilegi">
						<util:list value-type="java.lang.String">
							<value>DEL</value>
							<value>SIC/UT;M</value>
						</util:list>
					</property>
				</bean>
			</util:list>
		</property>
	</bean>

	<bean id="cambiopwd" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="cambiopwd" />
		<property name="title" value="${cambiopwd.title}" />
		<property name="prompt" value="${cambiopwd.prompt}" />
		<property name="icon" value="${cambiopwd.icon}" />
	</bean>

	<bean id="elenchi_albi" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="elenchi_albi" />
		<property name="title" value="${elenchi_albi.title}" />
		<property name="prompt" value="${elenchi_albi.prompt}" />
		<property name="icon" value="${elenchi_albi.icon}" />
	</bean>

	<bean id="attributi_dinamici" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="attributi_dinamici" />
		<property name="title" value="${attributi_dinamici.title}" />
		<property name="prompt" value="${attributi_dinamici.prompt}" />
		<property name="icon" value="${attributi_dinamici.icon}" />
	</bean>

	<bean id="report" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="report" />
		<property name="title" value="${report.title}" />
		<property name="prompt" value="${report.prompt}" />
		<property name="icon" value="${report.icon}" />
		<property name="submenu">
			<util:list value-type="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
				<bean id="statisticheProtocolli" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="statisticheProtocolli" />
					<property name="title" value="${statisticheProtocolli.title}" />
					<property name="prompt" value="${statisticheProtocolli.prompt}" />
					<property name="icon" value="${statisticheProtocolli.icon}" />
					<property name="privilegi">
						<util:list value-type="java.lang.String">
							<value>REP/ST1</value>
						</util:list>
					</property>
				</bean>
				<bean id="statisticheDocumenti" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="statisticheDocumenti" />
					<property name="title" value="${statisticheDocumenti.title}" />
					<property name="prompt" value="${statisticheDocumenti.prompt}" />
					<property name="icon" value="${statisticheDocumenti.icon}" />
					<property name="privilegi">
						<util:list value-type="java.lang.String">
							<value>REP/STD/UO</value>
						</util:list>
					</property>
				</bean>
				<!-- <bean id="statisticheMail" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> 
					<property name="nomeEntita" value="statisticheMail" />
					<property name="title" value="${statisticheMail.title}" />
					<property name="prompt" value="${statisticheMail.prompt}" />
					<property name="icon" value="${statisticheMail.icon}" />
					<property name="privilegi">
						<util:list value-type="java.lang.String">
							<value>REP/STD/UO</value>
						</util:list>
					</property>
				</bean> -->
				<bean id="listaAccompagnatoriaProtocollazioni" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="listaAccompagnatoriaProtocollazioni" />
					<property name="title" value="${listaAccompagnatoriaProtocollazioni.title}" />
					<property name="prompt" value="${listaAccompagnatoriaProtocollazioni.prompt}" />
					<property name="icon" value="${listaAccompagnatoriaProtocollazioni.icon}" />
					<property name="privilegi">
						<util:list value-type="java.lang.String">
							<value>PRT</value>
						</util:list>
					</property>
				</bean>
			</util:list>
		</property>
	</bean>

	<bean id="gestione_visure" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="gestione_visure" />
		<property name="title" value="${gestione_visure.title}" />
		<property name="prompt" value="${gestione_visure.prompt}" />
		<property name="icon" value="${gestione_visure.icon}" />
		<property name="submenu">
			<util:list value-type="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
				<bean id="visure_in_iter" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="visure_in_iter" />
					<property name="title" value="${visure_in_iter.title}" />
					<property name="prompt" value="${visure_in_iter.prompt}" />
					<property name="icon" value="${visure_in_iter.icon}" />
				</bean>
				<bean id="visure_personali" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="visure_personali" />
					<property name="title" value="${visure_personali.title}" />
					<property name="prompt" value="${visure_personali.prompt}" />
					<property name="icon" value="${visure_personali.icon}" />
				</bean>
			</util:list>
		</property>
	</bean>

	<bean id="gestione_procedimenti" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="gestione_procedimenti" />
		<property name="title" value="${gestione_procedimenti.title}" />
		<property name="prompt" value="${gestione_procedimenti.prompt}" />
		<property name="icon" value="${gestione_procedimenti.icon}" />
		<property name="submenu">
			<util:list value-type="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
				<!-- <bean id="avvio_procedimento" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> 
					<property name="nomeEntita" value="avvio_procedimento" />
					<property name="title" value="${avvio_procedimento.title}" />
					<property name="prompt" value="${avvio_procedimento.prompt}" />
					<property name="icon" value="${avvio_procedimento.icon}" />
					<property name="privilegi">
						<util:list value-type="java.lang.String">
							<value>GP/I</value>
						</util:list>
					</property>
				</bean> -->
				<bean id="procedimenti_in_iter" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="procedimenti_in_iter" />
					<property name="title" value="${procedimenti_in_iter.title}" />
					<property name="prompt" value="${procedimenti_in_iter.prompt}" />
					<property name="icon" value="${procedimenti_in_iter.icon}" />
				</bean>

				<bean id="procedimenti_personali" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="procedimenti_personali" />
					<property name="title" value="${procedimenti_personali.title}" />
					<property name="prompt" value="${procedimenti_personali.prompt}" />
					<property name="icon" value="${procedimenti_personali.icon}" />
				</bean>
				<!-- <bean id="procedimenti_in_lavorazione" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> 
					<property name="nomeEntita" value="procedimenti_in_lavorazione" /> <property 
					name="title" value="${procedimenti_in_lavorazione.title}" /> <property name="prompt" 
					value="${procedimenti_in_lavorazione.prompt}" /> <property name="icon" value="${procedimenti_in_lavorazione.icon}" 
					/> </bean> -->
			</util:list>
		</property>
	</bean>

	<bean id="wizard" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="wizard" />
		<property name="title" value="${wizard.title}" />
		<property name="prompt" value="${wizard.prompt}" />
		<property name="icon" value="${wizard.icon}" />
	</bean>

	<bean id="gestione_atti" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="gestione_atti" />
		<property name="title" value="${gestione_atti.title}" />
		<property name="prompt" value="${gestione_atti.prompt}" />
		<property name="icon" value="${gestione_atti.icon}" />
		<property name="submenu">
			<util:list value-type="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
				<bean id="avvio_iter_atti" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="avvio_iter_atti" />
					<property name="title" value="${avvio_iter_atti.title}" />
					<property name="prompt" value="${avvio_iter_atti.prompt}" />
					<property name="icon" value="${avvio_iter_atti.icon}" />
					<property name="portalDesktopIcon" value="${avvio_iter_atti.portalDesktopIcon}" />
					<property name="privilegi">
						<util:list value-type="java.lang.String">
							<value>GP/APA</value>
						</util:list>
					</property>
				</bean>
				<bean id="atti_in_lavorazione" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="atti_in_lavorazione" />
					<property name="title" value="${atti_in_lavorazione.title}" />
					<property name="prompt" value="${atti_in_lavorazione.prompt}" />
					<property name="icon" value="${atti_in_lavorazione.icon}" />
					<property name="portalDesktopIcon" value="${atti_in_lavorazione.portalDesktopIcon}" />
				</bean>
				<bean id="atti_personali" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="atti_personali" />
					<property name="title" value="${atti_personali.title}" />
					<property name="prompt" value="${atti_personali.prompt}" />
					<property name="icon" value="${atti_personali.icon}" />
				</bean>
			</util:list>
		</property>
	</bean>

	<bean id="registro_documenti" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="registro_documenti" />
		<property name="title" value="${registro_documenti.title}" />
		<property name="prompt" value="${registro_documenti.prompt}" />
		<property name="icon" value="${registro_documenti.icon}" />
	</bean>

	<bean id="contratti" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="contratti" />
		<property name="title" value="${contratti.title}" />
		<property name="prompt" value="${contratti.prompt}" />
		<property name="icon" value="${contratti.icon}" />
	</bean>

	<bean id="documenti_da_rifirmare" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="documenti_da_rifirmare" />
		<property name="title" value="Documenti da rifirmare" />
		<property name="prompt" value="Documenti da rifirmare" />
		<property name="icon" value="file/mini_sign.png" />
	</bean>

	<bean id="test_firma" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="test_firma" />
		<property name="title" value="Test di firma" />
		<property name="prompt" value="Test di firma" />
		<property name="icon" value="file/mini_sign.png" />
	</bean>

	<bean id="richiesteAutotutelaCed" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="richiesteAutotutelaCed" />
		<property name="title" value="Richieste autotutela / CED" />
		<property name="prompt" value="Richieste autotutela / CED" />
		<property name="icon" value="menu/richiesteAutotutelaCed.png" />
	</bean>

	<bean id="diagrammi" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="diagrammi" />
		<property name="title" value="Diagrammi di flusso" />
		<property name="prompt" value="Diagrammi di flusso" />
		<property name="icon" value="menu/diagrammi.png" />
	</bean>

	<bean id="editor" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="editor" />
		<property name="title" value="Editor di testo" />
		<property name="prompt" value="Editor di testo" />
		<property name="icon" value="menu/editor.png" />
	</bean>

	<bean id="info" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="info" />
		<property name="title" value="${info.title}" />
		<property name="prompt" value="${info.prompt}" />
		<property name="icon" value="${info.icon}" />
	</bean>

	<bean id="invio_documentazione_via_pec" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="invio_documentazione_via_pec" />
		<property name="title" value="${invio_documentazione_via_pec.title}" />
		<property name="prompt" value="${invio_documentazione_via_pec.prompt}" />
		<property name="icon" value="${invio_documentazione_via_pec.icon}" />
		<property name="privilegi">
			<util:list value-type="java.lang.String">
				<value>MRE</value>
			</util:list>
		</property>
	</bean>

	<!-- <bean id="istanze_portale_riscossione_da_istruire" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> 
		<property name="nomeEntita" value="istanze_portale_riscossione_da_istruire" />
		<property name="title" value="${istanze_portale_riscossione_da_istruire.title}" />
		<property name="prompt" value="${istanze_portale_riscossione_da_istruire.prompt}" />
		<property name="icon" value="${istanze_portale_riscossione_da_istruire.icon}" />
		<property name="privilegi"> <util:list value-type="java.lang.String"> 
			<value>IPR</value> </util:list> </property>
	</bean> -->

	<!-- <bean id="istanze" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> 
		<property name="nomeEntita" value="istanze" />
		<property name="title" value="${istanze.title}" />
		<property name="prompt" value="${istanze.prompt}" />
		<property name="icon" value="${istanze.icon}" />
		<property name="submenu">
			<util:list value-type="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<bean id="istanze_ced" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> 
					<property name="nomeEntita" value="istanze_ced" />
					<property name="title" value="${istanze_ced.title}" />
					<property name="prompt" value="${istanze_ced.prompt}" />
					<property name="icon" value="${istanze_ced.icon}" />
					<property name="privilegi"> <util:list value-type="java.lang.String"> 
						<value>ICD</value> </util:list> </property>
				</bean>
				<bean id="istanze_autotutela" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="istanze_autotutela" />
					<property name="title" value="${istanze_autotutela.title}" />
					<property name="prompt" value="${istanze_autotutela.prompt}" />
					<property name="icon" value="${istanze_autotutela.icon}" />
					<property name="privilegi"> <util:list value-type="java.lang.String"> 
						<value>IAT</value> </util:list> </property>
				</bean>
			</util:list>
		</property>
	</bean> -->

	<!-- <bean id="richiestaAtti" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean"> 
		<property name="nomeEntita" value="richiesta_accesso_atti" />
		<property name="title" value="${richiesta_accesso_atti.title}" />
		<property name="prompt" value="${richiesta_accesso_atti.prompt}" />
		<property name="icon" value="${richiesta_accesso_atti.icon}" />
	</bean> -->

	<bean id="conservazione" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
		<property name="nomeEntita" value="conservazione" />
		<property name="title" value="${conservazione.title}" />
		<property name="prompt" value="${conservazione.prompt}" />
		<property name="icon" value="${conservazione.icon}" />
		<property name="submenu">
			<util:list value-type="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
				<bean id="monitoraggioPdV" class="it.eng.utility.ui.module.layout.shared.bean.MenuBean">
					<property name="nomeEntita" value="monitoraggioPdV" />
					<property name="title" value="${monitoraggioPdV.title}" />
					<property name="prompt" value="${monitoraggioPdV.prompt}" />
					<property name="icon" value="${monitoraggioPdV.icon}" />
					<!-- <property name="privilegi"> <util:list value-type="java.lang.String"> 
						<value>GAE/PDV</value> </util:list> </property> -->
				</bean>
			</util:list>
		</property>
	</bean>
</beans>	