<html>
<body>
	<i> Gentile contribuente, <br /> La sua istanza &egrave; stata presa in
		carico e verr&agrave; evasa al più presto.
	</i>
	<br /> 
	<br />Cogliamo l’occasione per informarla che questo indirizzo email
	tra qualche giorno non sar&agrave; pi&ugrave; attivo; la preghiamo quindi di
	indirizzare ogni futura comunicazione a:
	<br />
	<a href="accertamentitassarifiuti@comune.milano.it">accertamentitassarifiuti@comune.milano.it</a>
	<br />
	<br />
	<i>Grazie per averci contattato.</i>
	<br />
	<i>Cordiali saluti</i>
	<br />
</body>
</html>