<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<bean id="ConfiguredAccount" class="it.eng.simplesendermail.service.bean.ConfiguredAccount">
		<property name="accounts">
			<util:map key-type="java.lang.String"
				value-type="it.eng.simplesendermail.service.bean.SmtpSenderBean">
				<entry key="helpdesk" value-ref="helpDeskAccount"></entry>
				<entry key="pec" value-ref="pecAccount"></entry>
			</util:map>
		</property>
	</bean>

	<bean id="helpDeskAccount" class="it.eng.simplesendermail.service.bean.SmtpSenderBean">
		<property name="isPec" value="false"></property>
		<property name="usernameAccount" value="dskdoc"></property>
		<property name="usernamePassword" value="Helpdesk2_2X2"></property>
		<property name="auth" value="false"></property>
		<property name="loginDisable" value="true"></property>
		<property name="smtpEndpoint" value="mail.eng.it"></property>
		<property name="smtpPort" value="465"></property>
		<property name="socketFactoryClass" value="javax.net.ssl.SSLSocketFactory"></property>
		<property name="socketFactoryFallback" value="false"></property>
		<property name="sslEnabled" value="true"></property>
	</bean>
	
	<bean id="pecAccount" class="it.eng.simplesendermail.service.bean.SmtpSenderBean">
		<property name="isPec" value="true"></property>
		<property name="usernameAccount" value="test4@postacert.regione.emilia-romagna.it"></property>
		<property name="usernamePassword" value="test4password"></property>
		<property name="auth" value="true"></property>
		<property name="loginDisable" value="false"></property>
		<property name="smtpEndpoint" value="95.110.240.38"></property>
		<property name="smtpPort" value="465"></property>
		<property name="socketFactoryClass" value="javax.net.ssl.SSLSocketFactory"></property>
		<property name="socketFactoryFallback" value="false"></property>
		<property name="sslEnabled" value="true"></property>
	</bean>

</beans>