<div style="padding: 0px 0px 0px 30px">
	<div class="page-header" style="margin: 0">
		<h2>
			Cancellazione messaggi
		</h2>
	</div>
	<div style="padding-top: 15px">
		Permette di cancellare i messaggi dalla mailbox che sono stati scaricati e completati
	</div>
	<div style="padding-bottom: 50px">
		<table style="width: 100%">
			<tr>
				<td colspan="2" style="width: 100%; padding: 10px;">
					<div class="alert alert-info" role="alert" ng-show="showInfo" class="ng-show">{{message}}</div>
					<div class="alert alert-danger" role="alert" ng-show="showError" class="ng-show">{{error}}</div>
				</td>
			</tr>
			<tr>
				<td style="width: 55%; padding-left: 40px; vertical-align: top">
					<div style="padding-bottom: 20px">
						<h3>Clear email</h3>
					</div>
					<form class="form-horizontal" role="form" id="test"
						ng-submit="clearEmail()">
						<div class="form-group">
							<label class="col-md-4 control-label">Mailbox</label>
							<div class="col-md-6">
								<select ng-model="selectedItem" ng-options="item as item.name for item in mailboxes" required required-select></select>
							</div>	
						</div>
						<div class="form-group">
						  <label>
						    <input type="number" ng-model="limit"> Numero massimo di messaggi da pulire per esecuzione. Lasciare vuoto per non impostare il limite
						  </label>
						</div> 
						<div class="form-group">
						  <label>
						    <input type="checkbox" ng-model="forceDelete" ng-init="checked=false" ng-click="onClick(forceDelete)"> Forza la pulizia dei messaggi correttamente processati anche se non è configurata l'operazione di cancellazione per la mailbox. L'eventuale intervallo di ritardo della cancellazione non è considerato attivando questa modalità
						  </label>
						  <label>
						    <input type="checkbox" ng-model="forceDeleteWithDelay" ng-init="checked=false" ng-click="onClick(forceDeleteWithDelay)"> Forza la pulizia dei messaggi correttamente processati anche se non è configurata l'operazione di cancellazione per la mailbox. L'eventuale intervallo di ritardo della cancellazione è considerato attivando questa modalità sulla data di invio delle email
						  </label>
						</div>
						<div class="form-group">
						  <label>
						    <input type="checkbox" ng-model="enableBackup" ng-init="checked=false"> Attiva il backup del messaggio nella folder "archiviateAuriga" prima di effettuare la cancellazione, in caso di errore interrompe la cancellazione del singolo messaggio  
						  </label>
						</div>
						<div class="form-group">
							<div style="padding-left: 200px">
								<input type="submit" value="Clear" class="btn btn-primary" />
							</div>
						</div>
					</form>
				</td>
				
				
			</tr>
		</table>
	</div>

</div>