.gridStyle {
	border: 1px solid rgb(212, 212, 212);
	width: 100%;
	height: 500px;
}

div.navbar-collapse.collapse {
	display: block;
	overflow: hidden;
	max-height: 0px;
	-webkit-transition: max-height .3s ease;
	-moz-transition: max-height .3s ease;
	-o-transition: max-height .3s ease;
	transition: max-height .3s ease;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 21474836;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

div.navbar-collapse.collapse.in {
	max-height: 2000px;
}

.ui-menu {
	width: 220px;
}
/* Allow to use <kbd> elements inside the title to define shortcut hints. */
.ui-menu kbd {
	padding-left: 1em;
	float: right;
}

/* Define a custom icon */
.ui-icon.custom-icon-firefox {
	background-image: url(application_firefox.gif);
	background-position: 0 0;
}

.modal-content {
	height: 200px;
}

.preview-modal-body {
	height: 80%;
}