<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="multipartResolver" class="it.eng.utility.ui.resolver.CustomMultipartResolver" lazy-init="true"></bean>
	<bean id="uploadjpedal" class="it.eng.utility.ui.servlet.UploadDaJPedalFirmato"></bean>
	<bean id="uploadsignerapplet" class="it.eng.utility.ui.servlet.UploadSignerApplet"></bean>
	<bean id="download" class="it.eng.utility.ui.servlet.DownloadServlet"></bean>
	<bean id="downloadClob" class="it.eng.utility.ui.servlet.DownloadClobServlet"></bean>
	<bean id="stream" class="it.eng.utility.ui.servlet.StreamServlet"></bean>
	<bean id="upload" class="it.eng.utility.ui.servlet.UploadServlet"></bean>
	<bean id="uploaddascannerservlet" class="it.eng.utility.ui.servlet.UploadDaScannerServlet"></bean>
	<bean id="uploadpersaveas" class="it.eng.utility.ui.servlet.UploadPerSaveAs"></bean>
	<bean id="adminstorage" class="it.eng.utility.ui.servlet.AdminStorage"></bean>
	<bean id="logout" class="it.eng.utility.ui.servlet.LogoutServlet"></bean>
	<bean id="uploadmultisignerapplet" class="it.eng.utility.ui.servlet.UploadMultiSignerApplet"></bean>
	<bean id="stampaetichetteservlet" class="it.eng.auriga.ui.module.layout.server.servlet.stampaetichetta.StampaEtichetteServlet"></bean>
	<bean id="pdfPropertiesServlet" class="it.eng.auriga.ui.module.layout.server.servlet.stampaetichetta.PdfPropertiesServlet"></bean>
	<bean id="percentageServlet" class="it.eng.auriga.ui.module.layout.server.servlet.piechart.PercentageServlet"></bean>
	<bean id="pdfbuilderpercentageServlet" class="it.eng.auriga.ui.module.layout.server.servlet.piechart.PdfBuilderPercentageServlet"></bean>
	<bean id="xlsbuilderpercentageServlet" class="it.eng.auriga.ui.module.layout.server.servlet.piechart.XlsBuilderPercentageServlet"></bean>
	<bean id="previewservlet" class="it.eng.auriga.ui.module.layout.server.servlet.preview.PreviewServlet"></bean>
	<bean id="previewtiffservlet" class="it.eng.auriga.ui.module.layout.server.servlet.preview.PreviewTIFFToPDFServlet"></bean>
	<bean id="createpdfservlet" class="it.eng.auriga.ui.module.layout.server.servlet.preview.BuildPDFServlet"></bean>
	<bean id="nuovoprocesso" class="it.eng.auriga.ui.module.layout.server.servlet.preview.GeneraNuovoProcessoServlet"></bean>
	<bean id="testuploadservlet" class="it.eng.utility.ui.servlet.TestUploadServlet"></bean>
	<bean id="resetPassword" class="it.eng.utility.ui.servlet.ResetPasswordServlet"></bean>
	<bean id="resetPasswordNoAuth" class="it.eng.utility.ui.servlet.ResetPasswordNoAuthServlet"></bean>
	<bean id="creaPassword" class="it.eng.utility.ui.servlet.CreaPasswordServlet"></bean>
	<bean id="uploadmultihashsignerapplet" class="it.eng.utility.ui.servlet.UploadMultiHashSignerApplet"></bean>
	<bean id="uploadeditapplet" class="it.eng.utility.ui.servlet.UploadEditApplet"></bean>
	<bean id="uploadmultiploservlet" class="it.eng.utility.ui.servlet.UploadMultiploServlet"></bean>
	<bean id="downloadUriFromTicket" class="it.eng.auriga.ui.servlet.DownloadFromTicketServlet"></bean>
	<bean id="chat" class="it.eng.auriga.ui.servlet.ChatController"></bean>
	<bean id="verificaLogin" class="it.eng.utility.ui.servlet.VerificaCredenzialiServlet"></bean>	
	<bean id="agibilita" class="it.eng.servlet.agibilita.AgibilitaServlet"></bean>	
</beans>